.res-card {
  background-color: beige;
  color: teal;
  text-align: center;
  border-radius: 3px;
  border: teal solid 3px;
  padding: 10px;
}

.deets {
  font-size: 16px;
}

.name {
  font-weight: bold;
}